#
# Touchscreen driver configuration
#
config TOUCHSCREEN_SITRONIX_TOUCH
    bool "Sitronix Ts for TOUCHSCREEN"
    depends on I2C
    default y
    help
      Say Y here if you have Sitronix touch panel.
      If unsure, say N.
      
    
